@using Microsoft.Extensions.Configuration
@inject IConfiguration config
@{ 
    ViewData["Title"] = "Home Page";
    var appOpt = config.GetSection(AppOptions.Key).Get<AppOptions>();
}

@model MVC.Models.ViewModels.BasicViewModel

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@Model.Title - @appOpt.Name</title>
     <link rel="stylesheet" href="~/css/site.css" />
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css">
        <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css">
</head>
<body>
<header>
    <nav class="navbar navbar-light bg-gray">
        <a href="#" class="navbar-brand">Quitter</a>
        <form class="form-inline">
            <div class="input-group">
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <button class="btn btn-outline-primary" type="button" id="button-search">
                        <i class="fa fa-search"></i>
                    </button>
                </div>
            </div>
        </form>
        <form>
            <button class="btn btn-outline-primary" type="button">Sign Up</button>
            <button class="btn btn-primary" type="button">Log In</button>
        </form>
    </nav>
</header>
<div class="container-fluid gedf-wrapper">
    <main role="main" class="row">
        @RenderBody()
    </main>
</div>

<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@RenderSection("Scripts", required: false)
</body>
</html>